{# td content layout  #}
<div>
  {# A #}
  {% if a_content == TRUE %}
    <div class='a {{ a_class }}'>
      {{ a_content }}
    </div>
  {% endif %}
  
  {# spacer #}
  <div class='spacer {{ spacer_class }}' >
    {# improve CSS and remove those 3 dots #}
    {{ spacer_content }}...
  </div>
  
  {# B #}
  {% if b_content == TRUE %}
    <div class='b {{ b_class }}'>
      {{ b_content }}
    </div>
  {% endif %}
  
</div>
